.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 10vh;
}

.footer ul {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

#footer-socials svg {
  padding: 10px;
  background-color: rgb(37, 36, 36);
  font-size: 25px;
}

#footer-socials svg:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    height: auto;
  }

  .footer ul {
    padding-left: 0;
  }

  .footer a {
    margin-right: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer-navigation li {
    display: none;
  }
}
